.chessboard-container {
  display: grid;
  place-content: center;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  background-color: #00ffaa;
  width: 800px;
  height: 800px;
}
