.tile {
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;
}

.tile .chess-piece {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
}

.tile .chess-piece:hover {
  cursor: grab;
}

.tile .chess-piece:active {
  cursor: grabbing;
}

.black-tile{
  background-color: #346784;
}

.white-tile{
  background-color: #ebecd0;
}
