.chessboard-tile {
  width: 125px;
  height: 125px;
  border-radius: 2px;
}

.black-tile {
  background-color: #146680;
  display: grid;
  place-content: center;
}

.white-tile {
  background-color: #ebecd0;
  display: grid;
  place-content: center;
}

.black-tile-piece {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
}

.white-tile-piece {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
}

/* .black-tile .black-piece-img {
  height: 85px;
  width: 70px;
}

.white-tile .white-piece-img {
  height: 85px;
  width: 70px;
} */

/* .black-piece-img {
  height: 100px;
  width: 100px;
}

.white-piece-img {
  height: 100px;
  width: 100px;
} */

/* ----------  (Standard piece styling)  ------------ */

.piece.whitepawn {
  height: 90px;
  width: 70px;
}
.piece.whitebishop {
  height: 120px;
  width: 110px;
}
.piece.whiterook {
  height: 108px;
  width: 102px;
}
.piece.whiteking {
  height: 100px;
  width: 100px;
}
.piece.whitequeen {
  height: 100px;
  width: 100px;
}
.piece.whiteknight {
  height: 90px;
  width: 85px;
}


.piece.blackpawn {
  height: 110px;
  width: 110px;
}
.piece.blackbishop {
  height: 90px;
  width: 80px;
}
.piece.blackrook {
  height: 108px;
  width: 102px;
}
.piece.blackking {
  height: 100px;
  width: 100px;
}
.piece.blackqueen {
  height: 100px;
  width: 95px;
}
.piece.blackknight {
  height: 100px;
  width: 100px;
}
/* -----------  (Hover for each piece)  ------------- */

.piece.whitepawn:hover {
  cursor: grab;
}
.piece.whitebishop:hover {
  cursor: grab;
}
.piece.whiterook:hover {
  cursor: grab;
}
.piece.whiteking:hover {
  cursor: grab;
}
.piece.whitequeen:hover {
  cursor: grab;
}
.piece.whiteknight:hover {
  cursor: grab;
}


.piece.blackpawn:hover {
  cursor: grab;
}
.piece.blackbishop:hover {
  cursor: grab;
}
.piece.blackrook:hover {
  cursor: grab;
}
.piece.blackking:hover {
  cursor: grab;
}
.piece.blackqueen:hover {
  cursor: grab;
}
.piece.blackknight:hover {
  cursor: grab;
}

/* -----------  (Action for each piece)  ------------- */

.piece.whitepawn:active {
  cursor: grabbing;
}
.piece.whitebishop:active {
  cursor: grabbing;
}
.piece.whiterook:active {
  cursor: grabbing;
}
.piece.whiteking:active {
  cursor: grabbing;
}
.piece.whitequeen:active {
  cursor: grabbing;
}
.piece.whiteknight:active {
  cursor: grabbing;
}


.piece.blackpawn:active {
  cursor: grabbing;
}
.piece.blackbishop:active {
  cursor: grabbing;
}
.piece.blackrook:active {
  cursor: grabbing;
}
.piece.blackking:active {
  cursor: grabbing;
}
.piece.blackqueen:active {
  cursor: grabbing;
}
.piece.blackknight:active {
  cursor: grabbing;
}
